@import "tailwindcss";

/* Nếu cần custom thêm thì viết dưới này */
@layer base {
  code[class*="language-"],
  pre[class*="language-"] {
    all: unset;
  }
}
@layer components {
  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
  }
  .btn:hover {
    background-color: #2563eb;
  }
}